.about {
  padding: 10rem 1rem 0 1rem;
  margin: 0 auto;
  max-width: 120rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: justify;
  .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    gap: 3rem;
    padding-bottom: 3rem;
    .img {
      width: 58rem;
      max-width: 58rem;
    }
  }
  .footerImg {
    margin: 0 auto;
    max-width: 60rem;
    width: 60rem;
    overflow: hidden;
  }
  .href{
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 3.2rem;
    margin: 1rem 0;
    text-decoration: underline;
  }
}

@media (max-width: 650px) {
  .about {
    padding: 5rem 1rem 0 1rem;
    .wrapper {
      .img {
        width: 35rem;
        max-width: 35rem;
      }
    }
    .footerImg {
      max-width: 35rem;
      width: 35rem;
    }
  }
}

@media (max-width: 500px) {
  .about {
    .href {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
}