.services {
  padding: 10rem 1rem 0 1rem;
  margin: 0 auto;
  max-width: 120rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: justify;

  .photo {
    display: flex;
    justify-self: center;
    align-self: center;
    max-width: 100rem;
    width: 100rem;
  }

  .photo1 {
    margin-top: 3rem;
    max-width: 120rem;
    width: 120rem;
  }

  .photos {
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }

  .photo2 {
  }
}

@media (max-width: 1250px) {
  .services {
    .photo {
      max-width: 90%;
      width: 90%;
    }
  }
}

@media (max-width: 550px) {
  .services {
    padding: 0;
    margin: 5rem 1rem 0 1rem;
  }
}
