.contact {
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  .wrapperSvg {
    background-color: var(--text);
    border-radius: 50%;
    width: 6.5rem;
    height: 6.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    cursor: pointer;
    .svg {
      max-width: 2.4rem;
      max-height: 2.4rem;
      stroke: var(--def);
    }
  }

  .wrapperSvg:hover {
    background-color: var(--hover);
    transition: 0.3s;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .text {
      font-weight: 400;
      font-size: 2rem;
      color: var(--text);
    }
    .mainText {
      font-weight: 500;
      font-size: 3rem;
      color: var(--main-text);
    }
  }
}

@media (max-width: 650px) {
  .contact {
    gap: 1rem;
    .wrapperSvg {
      width: 5rem;
      height: 5rem;
      .svg {
        max-width: 2rem;
        max-height: 2rem;
      }
    }
    .wrapper {
      .text {
        font-size: 2rem;
      }
      .mainText {
        font-size: 2.1rem;
      }
    }
  }
}

@media (max-width: 650px) {
  .contact {
    .wrapperSvg {
      width: 4rem;
      height: 4rem;
    }
    .wrapper {
      .text {
        font-size: 1.5rem;
      }
      .mainText {
        font-size: 1.7rem;
      }
    }
  }
}
